* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
}

p {
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}

.mainContainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.App {
  text-align: center;
}

h5,
h4 {
  margin-bottom: 15px !important;
}

.header-logo {
  padding: 15px 30px;
  background-color: #fff;
  width: 100%;
}

.header-logo img {
  max-width: 200px;
}

.login-container {
  padding: 30px 15px;
  border: 1px solid #66ab66;
  width: 100%;
  border-radius: 0 !important;
}

.page-body {
  margin: auto;
  width: 630px;
}

.page-body .MuiFormControl-root {
  font-size: 14px !important;
}

.login-header h5 {
  padding: 0;
  margin-bottom: 10px !important;
}

.row-container.colum-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  flex-flow: row wrap;
}

.colum {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 15px;
}

.colum-2 .colum {
  flex: 1 1 50%;
  width: 50%;
}

.login-bg {
  position: relative;
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  overflow: hidden;
}

.login-bg::after {
  content: '';
  background: url(/home/umarcicd/sample-react-app/front-end/src/assets/images/sunflower.png) left top no-repeat transparent;
  background-size: contain;
  position: absolute;
  height: 140px;
  width: 140px;
  top: -65px;
  right: -65px;
  opacity: 0.8;
}

.form-label {
  display: flex;
  width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

input:-internal-autofill-selected {
  background-color: #fff;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.text-center {
  text-align: center;
}

footer {
  background-color: #545454;
  text-align: center;
  padding: 30px;
  color: #fff;
  width: 100%;
}

footer .footer-logo {
  margin-bottom: 5px;
}

.btn-success {
  background: #66ab66 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.MuiOutlinedInput-root {
  border-radius: 0 !important;
}

.checkbox > span {
  padding: 0;
  margin-right: 5px !important;
  font-size: 14px;
}

.checkbox .MuiSvgIcon-root {
  fill: #4b286d !important;
}

.MuiIconButton-root {
  color: #fff !important;
  border-radius: 4px !important;
}

.table thead tr th {
  border-top: 1px solid #cdcdcd !important;
  border-bottom: 1px solid #cdcdcd !important;
  padding: 10px;
  color: #919090 !important;
  font-size: 14px !important;
}

.table tbody tr td {
  border: 0 !important;
  padding: 15px 10px;
  font-size: 14px !important;
}

.MuiInputBase-formControl {
  height: 40px !important;
}

.MuiTypography-h5 {
  margin-bottom: 0 !important;
  font-size: 14px !important;
}

.MuiOutlinedInput-root {
  background-color: #f5f5f5 !important;
}

.login-page .MuiOutlinedInput-root {
  background-color: #ffffff !important;
}

.MuiButton-root {
  padding: 5px 15px !important;
}

.MuiDialog-paper .MuiDialogActions-spacing {
  padding: 10px 30px 20px !important;
}

.MuiDialogTitle-root .MuiDialogTitle-root {
  padding: 10px 15px !important;
}

.MuiGrid-grid-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 15%;
}

.MuiSelect-select {
  font-size: 14px !important;
}

.MuiDialog-container .MuiSvgIcon-root {
  fill: #333 !important;
}

.MuiPickersToolbar-toolbar {
  background-color: #4b286d !important;
}

.MuiPickersDay-day {
  color: #111 !important;
}

.MuiPickersDay-daySelected {
  background-color: #4b286d !important;
  color: #ffffff !important;
}

.table .MuiTableCell-body {
  line-height: normal;
}

.table .MuiTableCell-body .MuiButtonBase-root {
  height: 20px;
  color: #333 !important;
  border-radius: 4px;
  padding: 15px;
  font-size: 10px !important;
}

.searchbar {
  width: 28% !important;
  height: 40px !important;
  margin-right: 9%;
}

.searchbar .MuiInputBase-root {
  width: 100%;
  height: 40px;
  margin: 0;
  background: #fff;
  border-bottom: 0px;
  font-size: 14px !important;
  border-radius: 25px;
}

.searchbar .MuiSvgIcon-root {
  fill: #b9b9b9;
  width: 30px;
  height: 30px;
  margin-top: 1px;
}

header .MuiIconButton-root {
  color: #111 !important;
}

header .searchbar .MuiIconButton-root .MuiSvgIcon-root {
  fill: #111 !important;
}

.MuiDialog-container .MuiDialogTitle-root .MuiButtonBase-root .MuiSvgIcon-root {
  fill: #ffffff !important;
}

.login-heading {
  padding: 0 !important;
  margin-left: 0 !important;
}

.login-heading h4 {
  margin-bottom: 10px !important;
}

.bold-font {
  font-weight: 600 !important;
}

.login-page {
  background-color: #f2f2f2;
  padding: 0 !important;
}

.footer-logo img {
  max-width: 100px !important;
}

.MuiFormControl-root {
  font-size: 14px !important;
}

.footer-cion {
  padding: 0 !important;
  margin-right: 5px !important;
  position: relative;
  top: -2px;
}

.footer-cion .MuiSvgIcon-root {
  fill: #66ab66;
  width: 15px;
}

.MuiRadio-root .MuiSvgIcon-root {
  fill: rgb(121 183 113);
  width: 15px;
}

.MuiCheckbox-root .MuiSvgIcon-root {
  fill: #4b286d;
  width: 15px;
}

.inner-page {
  height: 100%;
}

.sidbar-nave {
  height: calc(100% - 40px);
  background-color: #4B286D;
}

.sidbar-nave li a:hover {
  background-color: #66CC00;
}

.sidbar-nave li a.highlighted {
  background-color: #2B8000;
}

.MuiAppBar-colorPrimary .MuiIconButton-root {
  color: #fff !important;
}

.copytights {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#4b286d;
  border-top: 1px solid #2B8000;
}

.MuiTableContainer-root {
  overflow-x: inherit !important;
}

.MuiTableRow-root.Mui-selected .MuiTableCell-body {
    color: rgb(121 183 113) !important;
    background-color: white !important;
    font-weight: bold;
}

.btn-primary {
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  background-color: #4B286D !important;
  padding: 15px!important;
  margin: 15px 0 !important;
}

.btn-primary:hover {
  background-color: #2B8000 !important;
}

.button-panel button:last-child {
  margin-left: 15px !important;
}

.MuiInput-root {
  border-radius: 4px !important;
}

input {
  color: #4b286d !important;
}

tr:hover {
  background-color:#D8D8D8 !important;
}

.MuiIconButton-root:hover {
  background-color: #2B8000 !important;
}

.searchbar-header {
  margin: 23px 10px 0 0 !important;
}